<div class="welcome container">
  <h2>Welcome to Pixie Report</h2>

  <p>By adding just three lines of code (show below) to your website you can get invaluebale metrics on who is reading your webpage, and for how long.</p>
  <p>Get information on where your user base is located, how long a user is staying on your page and where they are going next. </p>

  <p>Sign up for an account, make a project and add the following lines to the bottom of your header on your html page:</p>
  <div id="xmp">
  <xmp>
    <script>var domain = YOUR_DOMAIN_NAME_HERE</script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="http://triathloncodes.github.io/PixiePackage.js"></script>
  </xmp>
  </div>
  <p><strong>You will need to make one change.</strong> On the first line, where you see "YOUR_DOMAIN_NAME_HERE" replace with your domain name. It is important that this is exactly the same as the one you sign up with.</p>
  <% unless session[:user_id] %>
    <%= render partial: '/users/new' %>
  <% end %>
</div>
